@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
*{
    margin: 0;
    padding:0;
    border: border-box;
}
.navbar{
    size: 20vh;
}
.custom-navbar-bg {
    padding: 10px;
    background-color: #ffd166;
    color: #000000;
}
.border1:hover{
    border: 1px solid black;
    border-radius: 6px;
    text-decoration-color: black;
    font-weight: bold;
}

.w-40 {
    width: 60% !important;
}

.nav-search {
    display: flex;
    align-items: center;
}
.navbarx{
    background-color: #ddd;
    font-size: large;
    font-weight: 500;
}
.navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem;
}

.navbar-links {
    background-color: #fefae0;
    padding: 0.5rem 0;
}

.navbar-links .nav-link {
    color:#000000;
    text-decoration: none;
    font-style: italic;
    font-weight: 400;
}

.navbar-links .nav-link:hover {
    text-decoration: underline;
}

@media (max-width: 300px) {
    .navbar-collapse {
        flex-direction: column;
    }
    .nav-search {
        width: 100%;
        margin-top: 1rem;
    }
}