* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    min-height: 100vh;
    background-color:beige;
}

.sidebar {
    background-color:#e6005c;
    color: white;
    padding: 20px;
    height: 80vh;
    width: 20%;
    border: #f8f9fa solid;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 30px;
}

.profile-header {
    margin-bottom: 30px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-name {
    margin: 10px 0;
}

.profile-email {
    font-size: 14px;
    color: #ffd1e4;
}

.nav-link {
    color: white;
    padding: 10px 0;
    font-size: 18px;
}

.nav-link:hover, .nav-link.active {
    background-color: #e6005c;
    color: white;
}

.main-content {
    padding: 40px;
}

.activity-summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.activity-summary p {
    font-size: 18px;
    margin-bottom: 10px;
}

#total-bids, #winning-bids, #my-orders {
    font-weight: bold;
}

@media (max-width: 768px) {
    .sidebar {
        height: auto;
    }

    .main-content {
        padding: 20px;
    }
}
