body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: #ff006e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.form-container {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #ff006e;
    border-color: #ff006e;
}

.btn-primary:hover {
    background-color: #cc0059;
    border-color: #cc0059;
}

.text-decoration-none {
    color: #ff006e;
}

.text-decoration-none:hover {
    color: #cc0059;
}
